*{
  box-sizing: border-box;
}

body{
  font-family: "Microsoft JhengHei";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select:none;
  -moz-user-select: none;
  user-select: none;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
  height:auto;
}

.clearfix{
  &:after{
      display: block;
      content: '';
      clear: both;
  }
}

// flex
.d-flex{
  display: flex;
}

.position-relative{
  position: relative;
}

.justify-center{
  justify-content: center;
}

.justify-space-around{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}

// 高度
.full-screen{
  height: 100vh;
}

@for $i from 1 through 9{
  .h-srceen-#{ $i }{
    height:$i * 10vh;
  }
}

// 字體大小
@for $i from 1 through 36{
  .fSize-#{ $i }{
    font-size:$i * 1px;
  }
}

// padding
@for $i from 1 through 16{
  .pa-#{ $i }{
    padding: $i * 4px ;
  }

  .px-#{ $i }{
    padding-left: $i * 4px ;
    padding-right: $i * 4px ;
  }
  .py-#{ $i }{
    padding-top: $i * 4px ;
    padding-bottom: $i * 4px ;
  }

  .pt-#{ $i }{
    padding-top: $i * 4px ;
  }

  .pb-#{ $i }{
    padding-bottom: $i * 4px ;
  }

  .pl-#{ $i }{
    padding-left: $i * 4px ;
  }

  .pr-#{ $i }{
    padding-right: $i * 4px ;
  }

  .mx-#{ $i }{
    margin-left: $i * 4px ;
    margin-right: $i * 4px ;
  }
  .my-#{ $i }{
    margin-top: $i * 4px ;
    margin-bottom: $i * 4px ;
  }
}