// $small :  480px ; //小螢幕斷點
// $smallUp: 481px;
// $mobile : 767px; //手機斷點
// $medium:  768px; //平板斷點
// $large : 1024px; //桌機斷點
// $desktop :1440px;


$mobile : 414px; //手機斷點
$medium:  768px; //平板斷點
$large : 1024px; //桌機斷點
$desktop :1440px;